@font-face {
  font-family: 'Gotham Rounded';
  src: url('../Fonts/GothamRounded-Bold.woff2') format('woff2'),
      url('../Fonts/GothamRounded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded Book';
  src: url('../Fonts/GothamRounded-Book.woff2') format('woff2'),
      url('../Fonts/GothamRounded-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../Fonts/GothamRounded-Light.woff2') format('woff2'),
      url('../Fonts/GothamRounded-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300,600&display=swap');

 @import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
 @import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
body {
  font-family: "Gotham Rounded";
}
/* Main Menu */
.main-menu {
  font-family: "Gotham Rounded" !important;
  padding: 18px 0;
  margin: 0 !important;
  border: none !important;
}
.main-menu .item {
  font-family: "Nunito Sans", sans-serif !important;
  font-size: 13px;
  font-weight: 600 !important;
  color: #000065 !important;
}
.ui.menu.main-menu .right.menu {
  margin-left: 0 !important;    
  justify-content: space-between;
  width: 100%;
}
.ui.menu.main-menu .logo {
  width: 200px;
  margin: 0 30px 0 0;
  display: flex;
}
.ui.menu.main-menu .logo img {
  width: 100%;
  height: auto;
  display: block;
}
.ui.menu.main-menu .primary.button {
  background: #70e6da;
  color: #000065;
  line-height: 1.3;
}
.why {
  font-family: 'Gotham Rounded', sans-serif;
  background: #000065 url(../Images/main-image.png) no-repeat !important;
  font-size: 16px;
  font-weight: 300;
  color: #fff;    
  padding: 150px 0;
  background-size: 1130px !important;
  background-position: 120% -120px !important;
}
.why span {
  font-family: "Gotham Rounded", sans-serif;
  color: #70e6da;
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 10px;
  display: block;
}
.why h1 {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 20px;
}
.why .text {
  width: 50%;
}
.why .text p {
  line-height: 1.6;
  margin-bottom: 20px;
}
.why .outline-btn {
  border: 2px solid #537ba1;
  border-radius: 10px;
  padding: 15px 25px;
  display: block;
  margin-bottom: 20px;
  background: transparent;
  font-size: 16px;
  min-width: 220px;
  text-align: center;
  font-family: "Gotham Rounded", sans-serif;
  font-weight: 600;
  color: #fff;
  margin-top: 60px;
}
.why .gradient-btn {
  background: rgb(100,154,177) !important;
  background: linear-gradient(90deg, rgba(100,154,177,1) 0%, rgba(105,217,211,1) 100%) !important;
  border-radius: 10px;
  padding: 15px 25px;
  min-width: 220px;
  display: block;
  margin-bottom: 20px;
  text-align: center;
  background: transparent;
  font-size: 16px;
  font-family: "Gotham Rounded", sans-serif;
  font-weight: 600;
  color: #000065;
}
.why .counter {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 120px 0 0;
}
.why .counter li {
  flex: 1;
  font-size: 44px;
  line-height: 1.2;
  position: relative;
}
.why .counter li + li:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background: #70e6da;
}
.why .graph {
  width: 100%;
}
.why .graph img {
  width: 100%;
  height: auto;
  display: block;
}
.grey-bg {
  background: #eff3f6;
  font-family: 'Gotham Rounded', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000065;    
  padding: 100px 0;
}
.grey-bg span {
  font-family: "Gotham Rounded", sans-serif;
  color: #70e6da;
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 10px;
  display: block;
}
.grey-bg h2 {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #000065;
  margin: 0 0 20px;
}
.grey-bg h3 {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  color: #000065;
  margin: 0 0 20px;
}
.grey-bg .text p {
  line-height: 1.6;
  text-align: center;
}
.grey-bg .text p.main-para {
  text-align: left !important;
}
.grey-bg .box {
  margin-top: 40px;
}
.grey-bg .box .icon {
  width: 60%;
  margin: auto;
}
.grey-bg .box .icon img {
  width: 100%;
  height: auto;
  display: block;
}
.white-bg {
  background: #fff;
  font-family: 'Gotham Rounded', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000065;    
  padding: 100px 0;
}
.white-bg span {
  font-family: "Gotham Rounded", sans-serif;
  color: #70e6da;
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 10px;
  display: block;
}
.white-bg h2 {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #000065;
  margin: 0 0 20px;
}
.white-bg .image {
  width: 100%;
}
.white-bg .image img {
  width: 100%;
  height: auto;
  display: block;
}
.leaderboard h2 {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 44px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 30px;
  text-align: center;
}
.leaderboard .sliderdiv {
  position: relative;
  max-width: 550px;
  margin: auto;
}
.leaderboard .sliderdiv:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(0, 47, 75, 0), rgb(0 0 101));
  top: 0;
  z-index: 99;
}
.leaderboard .slick-slide {
  opacity: 0.3;
}
.leaderboard  .slick-slide.slick-active {
  opacity: 1;
}
.leaderboard  .slick-slide > div > div {
  display: flex !important;
  font-size: 14px;
  font-weight: 600;
}
.leaderboard ul li + li {
  margin-top: 3px;
}
.leaderboard span {
  margin-left: 10px;
}
.leaderboard .slick-next {
  width: 20px;
  height: 45px;
  background: url(../Images/up.svg) no-repeat;
  background-size: 13px;
  top: 75px;
}
.leaderboard .slick-prev {
  width: 20px;
  height: 45px;
  background: url(../Images/down.svg) no-repeat;
  background-size: 13px;
  top: 145px;
  right: -25px;
  left: auto;
}
.leaderboard .slick-prev:hover,
.leaderboard .slick-prev:focus {
  width: 20px;
  height: 45px;
  background: url(../Images/down.svg) no-repeat;
  background-size: 13px;
}
.leaderboard .slick-next:hover,
.leaderboard .slick-next:focus {
  width: 20px;
  height: 45px;
  background: url(../Images/up.svg) no-repeat;
  background-size: 13px;
}
.leaderboard .slick-prev::before,
.leaderboard .slick-next::before {
  display: none;
}

.participate {
  font-family: 'Gotham Rounded', sans-serif;
  background: #000065 !important;
  font-size: 16px;
  font-weight: 300;
  color: #fff;    
  padding: 150px 0;
  background-size: 1130px !important;
  background-position: 120% -120px !important;
}
.participate span {
  font-family: "Gotham Rounded", sans-serif;
  color: #70e6da;
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 10px;
  display: block;
}
.participate h1 {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 50px;
}
.participate h2 {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 20px;
}
.participate h3 {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: #97c0db;
  margin: 0 0 30px;
  text-align: center;
}
.participate .text {
  width: 50%;
}
.participate .text p {
  line-height: 1.6;
  margin-bottom: 20px;
}
.participate .outline-btn {
  border: 2px solid #537ba1;
  border-radius: 10px;
  padding: 15px 25px;
  display: block;
  margin-bottom: 20px;
  background: transparent;
  font-size: 16px;
  min-width: 220px;
  text-align: center;
  font-family: "Gotham Rounded", sans-serif;
  font-weight: 600;
  color: #fff;
  margin-top: 60px;
}
.participate .gradient-btn {
  background: rgb(100,154,177) !important;
  background: linear-gradient(90deg, rgba(100,154,177,1) 0%, rgba(105,217,211,1) 100%) !important;
  border-radius: 10px;
  padding: 15px 25px;
  min-width: 220px;
  display: block;
  margin-bottom: 20px;
  text-align: center;
  background: transparent;
  font-size: 16px;
  font-family: "Gotham Rounded", sans-serif;
  font-weight: 600;
  color: #000065;
}
.participate .five.wide.column span {
  margin-bottom: 25px;
}
.participate .image-holder {
  margin-bottom: 30px;
}
.participate img {
  width: 150px;
  height: auto;
  display: block;
}
.participate .mt-custom {
  margin-top: 40px;
}
.participate .right-section {
  position: relative;
}
.participate .right-section:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  width: 1px;
  background: #69d7d2;
}
.participate .right-section:after {
  content: "";
  position: absolute;
  top: 0;
  height: 60px;
  left: -65px;
  width: 10px;
  background: #69d7d2;
}
.participate ol {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 20px;
  padding: 0 0 0 25px;
}
.participate ol li + li {
  margin-top: 10px;
}
.participate ol li a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
.participate .form label {
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
}
.participate .form .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.participate .form .boxes + .boxes {
  margin-top: 20px;
  margin-bottom: 20px;
}
.participate .form input {
  width: 60%;
  margin-left: 20px;
  background: transparent;
  border: 1px solid #35918d;
  padding: 18px;
  border-radius: 14px;
  text-align: right;
  font-family: "Gotham Rounded";
  font-style: italic;
  color: #fff;
}
.participate .form input::-webkit-input-placeholder {
  color: #fff;
}
.participate .form input::-moz-placeholder { 
  color: #fff;
}
.participate .form input:-ms-input-placeholder {
  color: #fff;
}
.participate .form input:-moz-placeholder {
  color: #fff;
}
.participate .form input:focus {
  box-shadow: none;
  border-color: #35918d;
  outline: none;
}
.participate .form .boxes strong {
  font-size: 30px; 
  color: #68d2cf;
  padding-right: 20px;
}
.participate .calculator {
  margin: 150px auto 0;
  max-width: 600px;
}
.grey-bg-2 {
  background: #eff3f6;
  font-family: 'Gotham Rounded', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000065;    
  padding: 100px 0;
}
.grey-bg-2 span {
  font-family: "Gotham Rounded", sans-serif;
  color: #70e6da;
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 10px;
  display: block;
}
.grey-bg-2 h2 {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #000065;
  margin: 0 0 20px;
}
.grey-bg-2 div .main {
  clear: both;
}
.grey-bg-2 .main .text {
  float: left;
  width: 50%;
}
.grey-bg-2 .main .image {
  float: right;
  width: 48%;
}
.grey-bg-2 .main .image img{
  width: 100%;
  height: auto;
  display: block;
}
.grey-bg-2 strong {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000065;
  margin: 0 0 10px;
  display: block;
}
.grey-bg-2 .text p {
  line-height: 1.6;
  margin-bottom: 20px;
}